h1{
  text-align: center;
}
h4{
  text-align: center;
  color:blue;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin:5%;
}

.container span{
  padding:1%;
  border: 1px solid grey;
  border-radius: 4px;
  min-width: 30px;
  min-height: 20px;
}


.content{
  margin:5%;
  color: rgb(51, 5, 115);
  text-align: center;
}